.contetnt{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-left{
    border:2px solid black;
    border-radius: 5px;
    border-collapse: collapse;
}
.menu-left > div{
    text-align: left;
    font-size:20px;
    width: 100%;
    border-bottom:1px solid black;
    border-top:1px solid black;
    margin:0px;
}

.LoginInfo{
    text-align: right;
}


.custom-table{
    margin-top:2px !important;
    border-radius:5px !important;
    border-collapse: separate !important;
    max-height:500px !important;
    overflow-y: scroll;
    display: block;
}

.custom-table li{
    list-style-type: none;
    border-bottom: 1px solid rgb(222, 226, 230);;
    width: 100%;
}

.custom-table li p{
    margin-bottom:0px;
    padding-bottom:0px;
}

.transaction .trType{
    font-weight: 600;
}

.head{
    font-weight: 600;
    font-size:20px;
}

.nav-table-menu{
    width: 150px !important;
}

.myNav button{
    width: 100%;
}

.nmyNav button:first-child{
    margin-top:2px;
}

.mainContent > div{
    display: inline-block;
}

.modalMy{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dialogMy{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    margin-top: 5%;
}

input.ng-touched.ng-invalid {
    border:solid red 2px;
}

.custom-table{
    border:1px solid lightgray;
    border-radius: 5px;
}

#transactionFrame .head{
    margin-top:5px;
    padding-top:5px;
    margin-bottom: 5px;
}

.transaction{
    margin: 3px;
}

.transaction-item{
    margin-left:5px;
    padding-left:5px;
}

.deposit{
    border-left:3px solid green;
}

.withdraw{
    border-left:3px solid red;
}
