<div id="transactionFrame" class="frame">
    <h3 class="head">Transactions</h3>
    <h3 *ngIf="ifLoginIn()">Balance: {{User.balance}}</h3>
    <hr />
    <ul class="transactions" *ngIf="ifLoginIn()">
        <li *ngFor="let item of TransactionList; let i = index">
        <div *ngIf="item.type == 1" class="transaction deposit">
            <div class="transaction-item">
                <span class="trType">Deposit</span>
                <p><span class="amountTransaction">Amount : {{item.summa}}</span> | Date: {{ item.date | date:'dd/MM/yyyy hh:mm:ss a'  }}</p>
            </div>
        </div>
        <div *ngIf="item.type == 2" class="transaction withdraw">
            <div class="transaction-item">
                <span class="trType">Withdraw</span>
                <p><span class="amountTransaction">Amount : {{item.summa}}</span> | Date: {{item.date | date:'dd/MM/yyyy hh:mm:ss a'  }}</p>
            </div>
        </div>
        <div *ngIf="item.type == 3" class="transaction transfer {{item.accountInfoInitiator==User.userName?'withdraw':'deposit'}}">
            <div class="transaction-item">
                <span class="trType">Transfer</span>
                <p><span class="amountTransaction">Amount : {{item.summa}}</span> | Date: {{item.date | date:'dd/MM/yyyy hh:mm:ss a'  }}</p>
                <p>From: {{item.accountInfoInitiator}}</p>
                <p>To: {{item.accountInfoRecipient}}</p>
            </div>
        </div>
        </li>
    </ul>
</div>